:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-color: #e7e7e7;
  --bg-color: #f5f5f5;
  --bg-color: #f9fafd;
  --bg-color: #e6e2ff;

  --body-color: rgb(9, 9, 39);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--body-color);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

span {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.main-wrapper {
  width: 100%;
  height: 100%;
}

.sidenav {
  width: 24.8rem;
  position: fixed;
  top: 0;
  height: 100%;
  background-color: white;
  padding: 0 2.4rem 2.4rem 2.4rem;
  transition: all 500ms ease;
}

.sidenav.collapse {
  width: 0;
  padding: 0;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
}

.content-wrapper {
  margin-left: 24.9rem;
}

.content-wrapper.collapse {
  margin-left: 0;
}

.navbar {
  background-color: white;
  padding: 2.4rem;
}

.main-content {
  padding: 2.4rem;
}

.cards-wrapper {
  display: flex;
  gap: 1.6rem;
}

.card {
  background-color: white;
  border-radius: 6px;
  padding: 1.6rem;
  width: 100%;
  max-width: 40rem;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 10%);
}

.charts-wrapper {
  display: flex;
  gap: 1.6rem;
  margin-top: 3.6rem;
}

.chart-1,
.chart-2 {
  background-color: white;
  padding: 2.4rem;
}

.chart-1 {
  flex-basis: 60%;
}

.chart-2 {
  flex-basis: 40%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* sidenav */
.sidenav nav {
  height: calc(100% - 72px);
  overflow-y: auto;
}
.nav-item {
  transition: all 300ms;
}

.nav-item a {
  font-size: 1.6rem;
  display: flex;

  align-items: center;
  gap: 1.6rem;
  padding: 1.2rem 0;
}

.nav-item:hover {
  background-color: rgb(0, 0, 0, 5%);
}

.nav-item-dropdown {
  cursor: pointer;
}

.nav-item-dropdown div {
  font-size: 1.6rem;
  display: flex;
  padding: 1.2rem 0;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.nav-item-dropdown span {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.submenu {
  padding-left: 2.8rem;
  font-size: 12px;
}

.submenu a {
  font-size: 1.5rem;
}

.nav-links .hydrated {
  font-size: 2.4rem;
}

/* Profile Info*/
.profile-info {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  cursor: pointer;
}

.avatar-wrapper img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: 1px solid rgb(0, 0, 0, 10%);
}

.store-name {
  font-weight: 500;
  line-height: 1.1;
}

.owner-name {
  font-size: 1.4rem;
  color: rgb(0, 0, 0, 60%);
}

/* btn menuu */
.btn-menu {
  font-size: 3.2rem;
  color: rgb(0, 0, 0, 60%);
}
